.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        border: none;
        border-bottom: 3px solid transparent;
        border-radius: 2px;
        width: 90%;
        display: block;
        padding: 1.5rem 2rem;
        background-color: rgba($color-white, .8);
        color: inherit;
        font-family: inherit;
        font-size: 1.5rem;
        transition: all .3s;

        &:focus {
            outline: none;
            border-bottom: 3px solid $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-place-holder {
            color: $color-grey-dark-2;
        }
    }

    &__label {
        margin-top: 1.5rem;
        margin-left: 2rem;
        display: block;
        font-size: 1.2rem;
        font-weight: 700;

        transition: all .3s;
    }

    &__input:placeholder-shown + &__label{
        visibility: hidden;
        opacity: 0;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        position: relative;
        padding-left: 4rem;
        font-size: $default-font-size;
        cursor: pointer;
    }

    &__radio-button {
        position: absolute;
        top: -7px;
        left: 0;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        height: 3rem;
        width: 3rem;
        
        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            background-color: $color-primary;
            content: "";

            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .2s;
        }
    }

    &__radio-input:checked + &__radio-label &__radio-button::after {
        opacity: 1;
    }
}